aiohttp~=3.9.3
aiohttp-cors~=0.7.0
dateparser~=1.1.8
dnspython~=2.4.2
# fastapi~=0.103.2
geopandas~=0.12.2
kml2geojson~=5.1.0
mailchimp-marketing~=3.0.80
mapbox-vector-tile~=2.0.1
matplotlib==3.8.2
mongomock~=4.1.2
opencv-python~=4.6.0.66
numpy~=1.26.4
pandas~=1.4.4
Pillow~=10.0.1
pip-check-updates~=0.22.0
pycountry~=22.3.5
pydantic~=2.5.2
pyOpenSSL~=23.2.0
pymongo~=4.5.0
python-dateutil~=2.8.2
pytest~=7.4.2
pytz~=2023.3.post1
PyYAML~=6.0.1
requests~=2.31.0
requests-futures~=1.0.1
scikit-image~=0.22.0
sendgrid~=6.10.0
sentry-sdk~=2.10.0
shapely~=2.0.1
simplejson~=3.19.1
stripe~=7.10.0
tensorflow~=2.15.0
timezonefinder~=6.5.0
twilio~=9.0.2
# uvicorn[standard]~=0.23.2
# websockets~=12.0